
/* Color Variables */

:root {

    --col-white: hsl(0, 0%, 100%);
    
    --col-stone-100: hsl(30, 54%, 90%);
    --col-stone-150: hsl(30, 18%, 87%);
    --col-stone-600: hsl(30, 10%, 34%);
    --col-stone-900: hsl(24, 5%, 18%);
    
    --col-brown-800: hsl(14, 45%, 36%);
    
    --col-rose-50: hsl(330, 100%, 98%);
    --col-rose-800: hsl(332, 51%, 32%);

}
